{{#windows}}
<filter-button attributes="windowId" filter-value="{{id}}">
    <span class="windowIcon" style="background-color:{{windowColor}}" ></span>
    ({{tabCount}})
</filter-button>
{{/windows}}
